:root {
    --green: #00cc99;
    --red: #ff8080;
    --azul: #0099ff;
    --branco: #fdfdfd;
    --preto: #333333;
    --cinza: #808080;
    --cinza-claro: #dcdcdc;
}


.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px repeat(2, auto);
}

.cabecalho {
    grid-area: cabecalho;
}
 
.conteudo {
    grid-area: conteudo;
}

.rodape {
    grid-area: rodape;
}