:root {
    --green: #00cc99;
    --red: #ff8080;
    --azul: #0099ff;
}


.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px repeat(2, auto);
}

.cabecalho {
    grid-area: cabecalho;
    background: var(--green);
}
 
.conteudo {
    grid-area: conteudo;
    background: var(--red);
}

.rodape {
    grid-area: rodape;
    background: var(--azul);
}